[Unit]
Description=Disable devices as wakeup sources

[Service]
Type=oneshot
ExecStart=/home/martin/.config/hypr/scripts/disablewakeup.sh

[Install]
WantedBy=multi-user.target
