[Unit]
Description=Start docker easy-connect container

[Service]
ExecStart=/usr/bin/docker start easyconnect_xtp
Type=oneshot
Restart=no

[Install]
WantedBy=default.target
